@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar {
  @apply overflow-x-auto;
  scrollbar-width: thin;
  scrollbar-color: #6b7280 #f3f4f6;
}

.scrollbar::-webkit-scrollbar {
  height: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #f3f4f6;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  background-color: #ffffff; 
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background-color: #ffffff; 
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
